@media screen and (max-width: 1800px) {
    .svg-order {
        margin-top: -12%;
    }
}

@media screen and (max-width: 1650px) {
    section#section8::before {
        left: -250px;
    }
    header::before {
        left: -70px;
    }
    header .logo .img {
        width: 850px;
    }
}

@media screen and (max-width: 1550px) {
    .container {
        width: 1280px;
    }
    header::before {
        left: -180px;
    }
    header .logo .img {
        width: 800px;
    }
    .trust .info-block .block {
        font-size: 22px;
    }
    .trust .info-block .block .num {
        font-size: 90px;
    }
}

@media screen and (max-width: 1450px) {
    section#section8::before {
        left: -310px;
    }
}

@media screen and (max-width: 1400px) {
    .container {
        width: 1100px;
    }
    #section8 .container::after {
        width: 300px;
        height: 300px;
    }
    #section8 .container::before {
        width: 240px;
        height: 240px;
    }
    header::before {
        left: -220px;
    }
    header .logo .img {
        width: 750px;
    }
    .whyWe .info-block .block:nth-of-type(3), .whyWe .info-block .block:nth-of-type(5) {
        padding-left: 0;
    }
    .whyWe .info-block .block:nth-of-type(2), .whyWe .info-block .block:nth-of-type(4) {
        padding-right: 0;
    }
    .affiliate .info-block .text {
        font-size: 22px;
    }
    #section8 .container::after {
        right: 250px;
        width: 280px;
        height: 280px;
    }
    .reviews .info-block .block>.img {
        width: 450px;
    }
    .reviews .info-block .block .text {
        padding: 30px;
    }
}

@media screen and (max-width: 1366px) {
    .trust .info-block .block {
        font-size: 21px;
    }
    .whyWe .info-block .block:nth-of-type(5)::before,
    .whyWe .info-block .block:nth-of-type(2)::before,
    .whyWe .info-block .block:nth-of-type(3)::before,
    .whyWe .info-block .block:nth-of-type(4)::before {
        display: none;
    }
    .whyWe .info-block {
        grid-template-columns: 270px 650px 270px;
    }
    .whyWe .info-block .block:nth-of-type(2), .whyWe .info-block .block:nth-of-type(4) {
        transform: translateX(50px);
    }
    .whyWe .info-block .block:nth-of-type(3), .whyWe .info-block .block:nth-of-type(5) {
        transform: translateX(-50px);
    }
    h1 {
        font-size: 45px;
    }
}

@media screen and (max-width: 1300px) {
    .slick-prev, .slick-next {
        width: 60px!important;
    }
    .slick-next {
        right: -60px!important;
    }
    .slick-prev {
        left: -60px!important;
    }
}

@media screen and (max-width: 1250px) {
    header .logo .img {
        width: 700px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 1000px;
    }
    header::before {
        left: -300px;
    }
    .about .info-block .img-block {
        margin-left: 180px;
    }
    .about .info-block .block, .whyWe .info-block .block:first-of-type {
        width: 410px;
        height: 410px;
    }
    .whyWe .info-block {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    section .site .info-block .name {
        margin-right: 50px;
    }
    section .site .info-block .info {
        flex: 4;
    }
    .portfolio .info-block .block .text-h a, .reviews .info-block .block .text-h a {
        padding: 20px;
    }
    .whyWe .info-block .block:nth-of-type(2),
    .whyWe .info-block .block:nth-of-type(4),
    .whyWe .info-block .block:nth-of-type(3),
    .whyWe .info-block .block:nth-of-type(5) {
        width: 270px;
        transform: none;
        position: absolute;
        margin-top: 0;
    }
    .whyWe .info-block {
        position: relative;
    }
    .whyWe .info-block .block:nth-of-type(2),
    .whyWe .info-block .block:nth-of-type(4) {
        left: -75%;
    }
    .whyWe .info-block .block:nth-of-type(3),
    .whyWe .info-block .block:nth-of-type(5) {
        right: -75%;
    }
    .whyWe .info-block .block:nth-of-type(4),
    .whyWe .info-block .block:nth-of-type(5) {
        top: 70%;
    }
    .whyWe .info-block .block:nth-of-type(2),
    .whyWe .info-block .block:nth-of-type(3) {
        top: -10%;
    }
    .about .info-block .img-block .img {
        width: 230px;
    }
    .circles {
        display: none;
    }
    #section8 .container::after {
        right: 0;
    }
    #section8 .container::before {
        right: 230px;
        top: 45%
    }
    section#section1::before,
    section#section1::after {
        content: '';
        position: absolute;
        border: 30px solid var(--text-green);
        border-radius: 50%;
        opacity: .1;
    }
    section#section1::before {
        bottom: 0;
        left: -200px;
        width: 300px;
        height: 300px;
    }
    section#section1::after {
        top: 0;
        right: -180px;
        width: 300px;
        height: 300px;
    }
    section#section1,
    section#section2 {
        padding: 180px 0;
    }
}

@media screen and (max-width: 1100px) {
    .container {
        width: 88%;
    }
    header .logo .img {
        width: 650px;
    }
    header .logo span {
        font-size: 40px;
    }
    .trust .info-block .block,
    .affiliate .info-block .text {
        font-size: 20px;
    }
    .trust .info-block .block .num {
        font-size: 80px;
    }
    section#section1::before {
        width: 260px;
        height: 260px;
    }
    .whyWe {
        justify-content: inherit;
    }
    .whyWe .info-block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .whyWe .info-block .block:nth-of-type(1) {
        left: auto;
        top: auto;
        transform: rotate(45deg);
    }
    .whyWe .info-block .block:nth-of-type(2),
    .whyWe .info-block .block:nth-of-type(4),
    .whyWe .info-block .block:nth-of-type(3),
    .whyWe .info-block .block:nth-of-type(5) {
        position: relative;
        left: auto;
        top: auto;
        right: auto;
        bottom: auto;
        width: 60%;
        text-align: left;
    }
    .whyWe .info-block .block:first-of-type {
        width: 510px;
        height: 510px;
    }
    .whyWe .info-block .block:nth-of-type(2) {
        margin-top: 170px;
    }
    .whyWe .info-block .block:nth-of-type(4),
    .whyWe .info-block .block:nth-of-type(3),
    .whyWe .info-block .block:nth-of-type(5) {
        margin-top: 32px;
    }
    section#section2 {
        padding: 200px 0 90px 0;
    }
    .reviews .info-block .block>.img {
        display: none;
    }
}

@media screen and (max-width: 1050px) {
    header .logo .img {
        width: 600px;
    }
    header .logo span {
        font-size: 35px;
    }
    .about .info-block .img-block {
        margin-left: 160px;
    }
    .trust .info-block .block {
        text-transform: none;
    }
}