@media screen and (max-width: 1800px) {
    .svg-order {
        margin-top: -12%;
    }
}

@media screen and (max-width: 1650px) {
    section#section8::before {
        left: -250px;
    }
    header::before {
        left: -70px;
    }
    header .logo .img {
        width: 850px;
    }
}

@media screen and (max-width: 1550px) {
    .container {
        width: 1280px;
    }
    header::before {
        left: -180px;
    }
    header .logo .img {
        width: 800px;
    }
    .trust .info-block .block {
        font-size: 22px;
    }
    .trust .info-block .block .num {
        font-size: 90px;
    }
}